.collapse .toggle {
    background: url("collapse.gif");
}
.expand .toggle {
    background: url("expand.gif");
}
.toggle {
    height: 9px;
    width: 9px;
    display: inline-block;
}

table {
    border-collapse:separate;
    margin-left:auto;
    margin-right:auto;
}

tr { border-spacing: 4px; }
td { padding:3px; border: 0px solid white; }
ul { list-style-type: none; padding: 0; margin: 0; }

@media print {
    * { font-size: small }
    td { padding: 0; margin: 0 }
}
