.collapse .toggle {
    background: url("collapse.gif");
}
.expand .toggle {
    background: url("expand.gif");
}
.toggle {
    height: 9px;
    width: 9px;
    display: inline-block;
}

table {border-collapse:collapse;border-spacing:4px;}
td {padding:5px;border:3px solid white;}
